# Node.js / React Native
node_modules/
.expo/
.expo-shared/
ios/Pods/
*.log
package-lock.json
yarn.lock

# Build artifacts
android/app/build/
ios/build/

# Venv (if you use it for any Python scripts)
venv/
env/